                    a {
                        text-decoration: none;
                    }
                    
                    .vertical-center {
                        min-height: 100%;
                        min-height: 100vh;
                        display: flex;
                        align-items: center;
                        position: fixed;
                        width: 100%;
                        top: 0;
                        z-index: 1;
                    }
                    
                    .flight-booking {
                        border-radius: 15px 15px 15px 15px;
                        padding: 20px 0px;
                        background-color: hsla(0, 40%, 4%, 0.5);
                        height: 150px;
                        justify-content: center;
                        align-items: center;
                        width: 85%;
                        margin-left: 100px;
                    }
                    
                    .flight-booking div {
                        margin-left: 20px;
                        background-color: white;
                        height: 70px;
                        padding: 2px;
                        width: 200px;
                    }
                    
                    .icons {
                        flex: 2;
                        text-align: center;
                    }
                    
                    .icons i {
                        font-size: 24px;
                        height: 40px;
                        margin-top: 20px;
                        margin: 20px -5px;
                        width: 31px;
                    }
                    
                    #carousel-img {
                        height: 100vh;
                        width: 100%;
                    }
                    
                    .subheader {
                        background: linear-gradient(rgba(49, 49, 49, 0.6), rgba(63, 61, 61, 0.6)), url('images/banner.jpg');
                        text-align: center;
                        position: relative;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        padding: 80px 0;
                    }
                    
                    .crumbs-holder h1 {
                        align-items: center;
                        justify-content: center;
                        margin-top: 50px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                    }
                    
                    .breadcrumb:first-child .breadcrumb-item {
                        color: white;
                    }
                    
                    .flight-listings {
                        border-bottom: 2px solid #01b7f2;
                        background: #fff;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    
                    .flight-listings h6 {
                        padding: 20px 0;
                    }
                    
                    .flight-listings .sort-by {
                        display: flex;
                        align-items: center;
                    }
                    
                    .nice-select .list {
                        background-color: #fff;
                        border-radius: 0px;
                        box-shadow: none;
                        box-sizing: border-box;
                        margin-top: 4px;
                        opacity: 0;
                        overflow: hidden;
                        padding: 0;
                        pointer-events: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        transform-origin: 50% 0;
                        transform: scale(0.75) translateY(-21px);
                        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
                        z-index: 9;
                    }
                    
                    .destination-img .full-width {
                        width: 100%;
                    }
                    
                    .flights-caption {
                        background-color: #fff;
                    }
                    
                    .flights-caption .caption-details {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .left-side i {
                        border: 1px solid #2d3e52;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .flight-name {
                        font-size: 17px;
                        font-family: Poppins, sans-serif;
                        font-weight: bold;
                    }
                    
                    .flight-type {
                        font-size: 11px;
                        text-transform: uppercase;
                        font-family: Poppins, sans-serif;
                        font-weight: bold;
                    }
                    
                    .price {
                        color: #7db921;
                        font-size: 20px;
                        line-height: 1;
                        display: block;
                    }
                    
                    .price small {
                        display: block;
                        color: darkblue;
                        font-size: 0.5em;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    
                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    
                    .btn-view {
                        background: #2d3e52;
                        border-color: #2d3e52;
                        color: #fff;
                        border-radius: 50px;
                        padding: 7px 25px;
                        transition: 0.5s all;
                        font-size: 14px;
                        text-transform: uppercase
                    }
                    
                    .btn-view:hover {
                        background-color: darkblue;
                        color: white;
                    }
                    
                    .btn-book {
                        border: 1px solid darkblue;
                        border-radius: 50px;
                        color: darkblue;
                        padding: 7px 25px;
                        transition: 0.5s all;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    
                    .btn-book:hover {
                        background-color: darkblue;
                        color: white;
                        border-color: darkblue;
                    }
                    
                    .page-item .page-link {
                        padding: 8px 20px;
                        font-size: 14px;
                        line-height: 1.5;
                        border: 2px solid #eee;
                        color: #020202;
                    }
                    
                    .page-item:first-child .page-link {
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                    
                    .page-item:last-child .page-link {
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                    
                    @media(max-width:768px) {
                        .flight-booking {
                            height: auto;
                            margin: 10px;
                            width: 80%;
                            margin-left: 40px;
                            padding: 10px 20px;
                        }
                        .flight-booking div {
                            margin-top: 10px;
                            height: auto;
                            width: auto;
                            margin: 10px;
                        }
                    }